$color-black:		#000;
$color-white:		#ffffff;
$color-grey: 		#777777;
$color-grey-light: 	#afacb3;
$color-grey-dark: 	#5c5d62;
$color-yellow: 		#fec34d;
$color-red:			#eb2b2f;
$color-deep-red:	#ea093c;
$color-dark-red:	#8c0e29;
$color-blue:		#0064b0;
$color-blue-grey:	#9b9eab;
$color-brown:		#aa936f;
$color-dark-brown:	#75634a;
$color-purple:		#cf35ad;
$color-blue-gray: #7b95a1;
$color-blue-gray-dark: #5b6f79;
$color-red: #f42632;
$color-hotpink: #e8028c;
$color-hotpink-light: #ec79be;